@import "header";
@import "main";
@import "servicios";
@import "footer";
@import "reset";

@media only screen and (max-width: 768px) and (min-width: 415px){
    .body{
        font-size: 1rem;
    }
    a{
        text-decoration: none;
    }
    .header{
        display: flex;
        font-size: 2rem;
        background-position: center;
        margin: 0 0;
        background-size: cover;
    }
    
    .container-fluid{
        margin: 0 auto;
    }
    #navbarNavDropdown{
        margin: 0 auto;
    }
    .navbar-nav{
        margin: 0 auto;
    }
   
}
@media only screen and (max-width: 400px){
    .body{
        font-size: 10px;
    }
    .header{
        display: flex;
    }
    #navbarNavDropdown{
        margin: 0 auto;
    }
   .t{
       font-size: 2rem; 
    }
}